<div class="alertContent container">
    <div class="alert alert-warning alert-sitewide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-warning fa-2x"></i>
        <strong>Winter Weather Advisory</strong> <span class="timeframe"><time datetime="2015-01-0T+06:00">January 1, 2015 3:00PM</time> to <time datetime="2015-01-0T+06:00">January 3, 2015 3:00PM</time></span>
        <p>Severe cold weather is expected. If you see a homeless person on the street, please call the Project Home Outreach Hotline 215 232 1884. For all other winter-related inquiries, call 311.</p>
    </div>
</div>
