<div class="col-md-3 col-sm-4 left-nav hidden-xs">
    <nav role="navigation">
        <div class="list-group">
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Crime Statistics and Maps</h4>
            </a>
            <a href="#" class="list-group-item active ">
                <h4 class="list-group-item-heading">Incident Reports</h4>
                <p class="list-group-item-text">Including crime, EMS, and traffic collision (accident) reports</p>
            </a>
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Education, Training, and Tips</h4>
            </a>
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Fire Stations and Police Departments</h4>
            </a>
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Emergency Services</h4>
            </a>
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Jail and Inmate Support</h4>
            </a>
            <a href="#" class="list-group-item ">
                <h4 class="list-group-item-heading">Report an Issue or Crime</h4>
            </a>
        </div>
    </nav>
</div>
