<div class="navbar-offcanvas offcanvas">
    <div class="container">
        <div class="navbar-myNav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Government
                </a>
                </li>
                <li>
                    <a href="#">Jobs
                </a>
                </li>
                <li>
                    <a href="#">Public Safety
                </a>
                </li>
                <li>
                    <a href="#">Licensing &amp; Permits
                </a>
                </li>
                <li>
                    <a href="#">Utilities &amp; Streets
                </a>
                </li>
                <li>
                    <a href="#">Transportation
                </a>
                </li>
                <li><a href="#">Parks & Recreation</a></li>
            </ul>
        </div>
    </div>
</div>
