<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body class="homepage">
    <div class="navbar navbar-top navbar-default">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header pull-left">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span style="display: inline; position: relative; right: 5px; font-size: 11px; bottom: 4px;">MENU</span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">
                        <img alt="City of Lexington" src="https://secure.test.kentucky.gov/Enterprise/demo/lexington/img/Lexington-Logo.png">
                        <h1 class="hidden-xs">Lexington</h1>
                    </a>
                </div>
                <form class="navbar-form navbar-right navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Lexington">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- {% include navbar.html %} -->
        </div>
    </div>
    <!-- /.container -->
    <!-- {% include alert.html %} -->
    <div class="mainContent container">
      {{ content }}
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Government</h3>
                        <ul>
                            <li>
                                <a href="#">Business
                            </a>
                            </li>

                            <li>
                                <a href="#">Health
                            </a>
                            </li>
                            <li>
                                <a href="#">Payments &amp; Taxes
                            </a>
                            </li>
                            <li>
                                <a href="#">Property & Housing
                            </a>
                            </li>
                            <li>
                                <a href="#">Public Safety
                            </a>
                            </li>
                            <li>
                                <a href="#">Recreation
                            </a>
                            </li>
                            <li>
                                <a href="#">Streets &amp; Utilities
                            </a>
                            </li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Lex Call 311</a></li>
                            <li><a href="#">Find a park</a></li>
                            <li><a href="#">Trash & Recycling pickup schedule</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <h3>Get In Touch</h3>
                        <address>
                            200 E. Main St<br />
                            Lexington, Kentucky 40507<br />
                        </address>
                        <p>
                            <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
                            (123) 456-7890
                        </p>
                        <ul class="list-cats">
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Mayor's Office</a></li>
                            <li><a href="#">Phone Directory</a></li>
                        </ul>
                        <ul class="list-inline social-links">
                            <li><a href="http://www.facebook.com/pages/Lexington-KY/191947568058"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li><a href="http://www.twitter.com/LexingtonKyGov"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <a href="#top" class="back-to-top pull-right"><i class="fa fa-arrow-up"></i>Back to Top</a>
                <p>&copy; 2015 Lexington-Fayette Urban County Govvernment. All Rights Reserved.</p>
                <ul class="list-inline">
                    <li><a href="#">Privacy Statement</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Data Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- JavaScript -->
    <script src="https://secure.test.kentucky.gov/Enterprise/demo/lexington/js/jquery-1.11.1.min.js"></script>
    <script src="https://secure.test.kentucky.gov/Enterprise/demo/lexington/js/bootstrap.min.js"></script>
    <script src="https://secure.test.kentucky.gov/Enterprise/demo/lexington/js/jasny-bootstrap.min.js"></script>
</body>

</html>
